<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<h3 class="font-bold admin-title">注文情報確認</h3>
	</div>
</div>

<%= form_with(model: @order, url: orders_path, method: :post, local: true) do |f| %>
	<div class="row">
		<div class="col-xs-8">
			<div class="row">
				<table class="table table-bordered">
					<thead class="bgc-sil">
						<tr>
							<th><h4 class="font-bold">商品名</h4></th>
							<th><h4 class="font-bold">単価(税込)</h4></th>
							<th><h4 class="font-bold">数量</h4></th>
							<th><h4 class="font-bold">小計</h4></th>
						</tr>
					</thead>
					<tbody>
						<% @cart_items.each do |cart_item| %>
							<tr>
								<td class="txt-c ver-m">
									<%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "mv.jpg", size: "30x30" %>
									<span class="font-bold" style="font-size: 20px;"><%= cart_item.item.name %></span>
								</td>
								<td class="txt-c ver-m">
									<span class="font-bold" style="font-size: 20px;"><%= (cart_item.item.price*1.1).round %></span>
								</td>
								<td class="txt-c ver-m">
									<span class="font-bold" style="font-size: 20px;"><%= cart_item.amount %></span>
								</td>
								<td class="txt-c ver-m">
									<span class="font-bold" style="font-size: 20px;"><%= ((cart_item.item.price*1.1).round)*(cart_item.amount) %></span>
								</td>
							</tr>

						<% end %>
					</tbody>
				</table>
			</div>	
		</div>
		<div class="col-xs-3 col-xs-offset-1">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="txt-c ver-m bgc-sil">
							<span class="font-bold" style="font-size: 20px;">送料</span>
						</td>
						<td class="txt-c ver-m">
							<span class="font-bold" style="font-size: 20px;">800</span>
						</td>
					</tr>
					<tr>
						<td class="txt-c ver-m bgc-sil">
							<span class="font-bold" style="font-size: 20px;">商品合計</span>
						</td>
						<td class="txt-c ver-m">
							<span class="font-bold" style="font-size: 20px;"><%= @total_price %></span>
						</td>
					</tr>
					<tr>
						<td class="txt-c ver-m bgc-sil">
							<span class="font-bold" style="font-size: 20px;">請求金額</span>
						</td>
						<td class="txt-c ver-m">
							<span class="font-bold" style="font-size: 20px;"><%= @total_price+800 %></span>
						</td>
					</tr>
					<%= f.hidden_field :payment, :value => @total_price %>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-2">
			<span class="font-bold" style="font-size: 20px;">支払方法</span>
		</div>
		<div class="col-xs-6">
			<span style="font-size: 20px;">
				<% if session[:payment_method] == "0" %>
					クレジットカード
				<% else %>
					銀行振込
				<% end %>	
			</span>
		</div>
		<%= f.hidden_field :payment_method, :value => session[:payment_method] %>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<span class="font-bold" style="font-size: 20px;">お届け先</span>
		</div>
		<%= f.hidden_field :select_address, :value => @select_address %>
		<div class="col-xs-6">
			<% if @select_address == "1" %>
				<span style="font-size: 20px;"><%= current_end_user.postal_code+" "+current_end_user.address %><br>
					<%= current_end_user.last_name %><%= current_end_user.first_name %></span>
			
			<% elsif @select_address == "2" %>
				<span style="font-size: 20px;"><%= @address.postal_code + " " + @address.address %><br>
				<%= @address.name %></span>
				<%= f.hidden_field :address_info, :value => @address.id %>
			<% else %>
				<span style="font-size: 20px;"><%= session[:ship_postal_code] + " " + session[:ship_address] %><br>
				<%= session[:ship_name] %>
				</span>
				<%= f.hidden_field :ship_postal_code, :value => session[:ship_postal_code] %>
				<%= f.hidden_field :ship_address, :value => session[:ship_address] %>
				<%= f.hidden_field :ship_name, :value => session[:ship_name] %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-4">
			<%= f.submit '購入を確定する', class: "btn btn-success col-xs-4", data: { confirm: "購入確定しますか？"} %>
		</div>
	</div>
<% end %>