<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2">
    <div class="title-box">
      <h4>登録情報編集</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <%= form_for(@end_user) do |f| %>
		<div class="row">
	        <div class="col-xs-2">
	          <p class="txt-l">名前</p>
	        </div>

	        <div class="col-xs-1">
	          <p class="txt-r">(姓)</p>
	        </div>
	        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => "col-xs-4" %>
	        
	        <div class="col-xs-1">
	          <p class="txt-r">(名)</p>
	        </div>
	        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => "col-xs-4" %>
	    </div>

	    <div class="row">
	        <div class="col-xs-2">
	          <p class="txt-l">フリガナ</p>
	        </div>

	        <div class="col-xs-1">
	          <p class="txt-r">(セイ)</p>
	        </div>
	        <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", :class => "col-xs-4" %>
	        
	        <div class="col-xs-1">
	          <p class="txt-r">(メイ)</p>
	        </div>
	        <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", :class => "col-xs-4" %>
	    </div>

	    <div class="row">
	        <div class="col-xs-3 txt-l">
	          <p>メールアドレス</p>
	        </div>
	        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'col-xs-4' %>
	    </div>

	    <div class="row">
	        <div class="col-xs-3 txt-l">
	          <p>郵便番号(ハイフンなし)</p>
	        </div>
	        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", :class => 'col-xs-4' %>
	    </div>

	    <div class="row">
	        <div class="col-xs-3 txt-l">
	          <p>住所</p>
	     	</div>
	        <%= f.text_field :address, autofocus: true, autocomplete: "address", :class => 'col-xs-9' %>
	    </div>

	    <div class="row">
	    	<div class="col-xs-3 txt-l">
	          <p>電話番号(ハイフンなし)</p>
	        </div>
	        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :class => 'col-xs-4' %>
	    </div>

	    <div class="row">
	    	<div class="col-xs-9">
	    		<div class="actions row signup-btn signup-box">
		        	<%= f.submit "編集内容を保存する", :class => 'col-xs-4 btn btn-primary fl-none' %>
		        	
		    	</div>
		    </div>
		    <div class="col-xs-3">
		    	<div class="actions row signup-btn signup-box">
		        	<%= link_to "退会する", end_user_leave_path, class: "col-xs-8 btn btn-danger fl-none" %>
		        	
		    	</div>
		    </div>
		</div>

    <% end %>
  </div>
  <div class="col-xs-1"></div>
</div>