<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2">
    <div class="title-box">
      <h4>新規会員登録</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <div class="row">
        <div class="col-xs-2">
          <p class="txt-l">名前</p>
        </div>

        <div class="col-xs-1">
          <p class="txt-r">(姓)</p>
        </div>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => "col-xs-4" %>
        
        <div class="col-xs-1">
          <p class="txt-r">(名)</p>
        </div>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => "col-xs-4" %>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <p class="txt-l">フリガナ</p>
        </div>

        <div class="col-xs-1">
          <p class="txt-r">(セイ)</p>
        </div>
        <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", :class => "col-xs-4" %>
        
        <div class="col-xs-1">
          <p class="txt-r">(メイ)</p>
        </div>
        <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", :class => "col-xs-4" %>
      </div>

      <div class="row">
        <div class="col-xs-3 txt-l">
          <p>メールアドレス</p>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'col-xs-4' %>
      </div>

      <div class="row">
        <div class="col-xs-3 txt-l">
          <p>郵便番号(ハイフンなし)</p>
        </div>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", :class => 'col-xs-4' %>
      </div>

      <div class="row">
        <div class="col-xs-3 txt-l">
          <p>住所</p>
        </div>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", :class => 'col-xs-9' %>
      </div>

      <div class="row">
        <div class="col-xs-3 txt-l">
          <p>電話番号(ハイフンなし)</p>
        </div>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :class => 'col-xs-4' %>
      </div>

      <div class="row">
        <div class="col-xs-3 txt-l">
          <p>パスワード(6文字以上)</p>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", :class => 'col-xs-4' %>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <p>パスワード(確認用)</p>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'col-xs-4' %>
      </div>

      <div class="actions row signup-btn signup-box">
        <%= f.submit "新規登録", :class => 'col-xs-3 btn btn-success fl-none' %>
      </div>

    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-3">
    <div class="title-box">
      <h4>既に登録済みの方</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <h5 class="font-bold"><span><%= link_to "こちら", new_end_user_session_path %> </span> からログインしてください。</h5>
  </div>
</div>